<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.burgerfreakz">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".singlecustomer"></activity>
        <activity android:name=".CustomerList" />
        <activity android:name=".MoreInfo" />
        <activity android:name=".PaymentDetails" />
        <activity android:name=".PaymentRow" />
        <activity android:name=".UpdateRider" />
        <activity android:name=".RiderDetails" />
        <activity android:name=".riderRow" />
        <activity android:name=".Login" />
        <activity android:name=".Order" />
        <activity android:name=".Accountdetails" />
        <activity android:name=".UpdateCustomer" />
        <activity android:name=".Invoice" />
        <activity android:name=".Feedback" />
        <activity android:name=".RidertoSystem" />
        <activity android:name=".RidertoOrder" />
        <activity android:name=".Payment" />
        <activity android:name=".Continue" />
        <activity android:name=".AddProduct" />
        <activity android:name=".AdminPanel" />
        <activity android:name=".shoppingcart" />
        <activity android:name=".Customize" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>